<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
<% if user_signed_in? %>
  Ciao <strong><%= current_user.email %></strong><br>
  
  
  <% if @fileok == false %>
	<strong>Formato file input non valido</strong><br>
  <% end %>
  
  <br><br>
<%= form_tag({action: :init}, multipart: true) do %>
   <%= file_field_tag "source" %>
   <%= submit_tag "Start" %>
<% end %>
  <br>

  <%= link_to "Edit profile", edit_user_registration_path, :class => "navbar-link" %> 
  <br>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link"  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => "navbar-link"  %> 
  <%= link_to "Login", new_user_session_path, :class => "navbar-link"  %>
<% end %>

	
  </body>
</html>
